* {
    padding: 0;
    margin: 0;
}

body {
    background: hsl(200, 50%, 50%);
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: #FFe066;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vmin;
    font-size: 3vmin;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    background-color: #dFb046;
    transition: 0.5s;
}

nav.hide {
    transform: translateX(-100vw);
    
}











