* {
    padding: 0;
    margin: 0;
}

body {
    background: hsl(200, 50%, 50%);
    font-family: 'Source Sans Pro', sans-serif;
}

header {
    background-color: #FFe066;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vmin;
    font-size: 3vmin;
}














