* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.indicator {
    width: 100vw;
    height: 200px;
    transition: 0.3s;
    margin-top: 5vh;
}

img {
    margin-bottom: 5vh;
}